# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: trcottam <trcottam@student.s19.be>         +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/01/02 21:33:44 by trcottam          #+#    #+#              #
#    Updated: 2021/01/04 02:02:14 by trcottam         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

/Cub3D
/obj/
*.cub
